// Restaurant cards list
#restaurants {
    margin: 50px auto;
    width: 90%;

    @media screen and (min-width: $tablet-breakpoint) {
        margin: 50px auto 75px;
        width: 60%;
    }

    @media screen and (min-width: $computer-breakpoint) {
        margin: 50px auto 100px;
        width: 60%;
    }

    h2 {
        margin-bottom: 20px;
    }
}

#restaurant-list {
    @media screen and (min-width: $computer-breakpoint) {
        display: grid;
        row-gap: 60px;
        column-gap: 100px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.restaurant-container {
    background-color: $white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: $box-shadow rgba(0,0,0,0.2);
    box-shadow: $box-shadow rgba(0,0,0,0.2);

    @media screen and (min-width: $tablet-breakpoint) {
        margin-bottom: 40px;
    }
    
    @media screen and (min-width: $computer-breakpoint) {
        margin-bottom: 0;
    }

    span {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $middle-blue-green;
        color: $spanish-viridian;
        padding: 8px 15px;
        border-radius: 0.15rem;
        font-size: $mobile-link-size;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}

.restaurant-img-display {
    width: 100%;
    height: 175px;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;

        @media screen and (min-width: $tablet-breakpoint) {
            height: auto;
        }
    }
}

.restaurant-label {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    i {
        font-size: 1.3rem;
        color: $white;
        background-color: $jet-o;
        border-radius: 2rem;
        padding: 10px;
        margin-right: 15px;
        cursor: pointer;

        @media screen and (min-width: $computer-breakpoint) {
            transition: 0.3s;

            &:hover {
                background-color: $amethyst;
            }
        }
    }
}

.restaurant-info {
    padding: 15px;
    color: $black;

    &:visited {
        color: $black;
    }

    p {
        line-height: 25px;

        &:last-child {
            font-weight: 300;
        }
    }
}