#restaurants {
    margin: 50px auto;
    width: 90%;

    @media screen and (min-width: $tablet-breakpoint) {
        margin: 50px auto 75px;
        width: 60%;
    }

    @media screen and (min-width: $computer-breakpoint) {
        margin: 50px auto 100px;
        width: 60%;
    }

    h2 {
        margin-bottom: 20px;
    }
}

#restaurant-list {
    @media screen and (min-width: $computer-breakpoint) {
        display: grid;
        row-gap: 60px;
        column-gap: 100px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.restaurant-container {
    background-color: $white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);

    @media screen and (min-width: $tablet-breakpoint) {
        margin-bottom: 40px;
    }
    
    @media screen and (min-width: $computer-breakpoint) {
        margin-bottom: 0;
    }

    span {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $middle-blue-green;
        color: $spanish-viridian;
        padding: 8px 15px;
        border-radius: 0.15rem;
        font-size: $mobile-link-size;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}

#restaurant-img-1 {
    background-image: url("../../../../assets/images/la-palette-du-gout.webp");
    background-position: 50% 80%;
}

#restaurant-img-2 {
    background-image: url("../../../../assets/images/la-note-enchantee.webp");
    background-position: 50% 80%;

    @media screen and (min-width: $tablet-breakpoint) {
        background-position: 50% 60%;
    }
}

#restaurant-img-3 {
    background-image: url("../../../../assets/images/a-la-francaise.webp");
    background-position: 50% 80%;
}

#restaurant-img-4 {
    background-image: url("../../../../assets/images/le-delice-des-sens.webp");
    background-position: 50% 80%;
}

.restaurant-img-display {
    width: 100%;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
}

.restaurant-label {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.restaurant-info {
    padding: 15px;
    color: $black;

    &:visited {
        color: $black;
    }

    p {
        line-height: 25px;

        &:last-child {
            font-weight: 300;
        }
    }
}