/* -----Header styles----- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: lightblue;

    img {
        width: 45%;
    }
}