#menu-img-1 {
    background-image: url("../../../../assets/images/la-palette-du-gout.webp");
    background-position: 50% 50%;
}

#menu-img-2 {
    background-image: url("../../../../assets/images/la-note-enchantee.webp");
    background-position: 50% 50%;
}

#menu-img-3 {
    background-image: url("../../../../assets/images/a-la-francaise.webp");
    background-position: 50% 50%;
}

#menu-img-4 {
    background-image: url("../../../../assets/images/le-delice-des-sens.webp");
    background-position: 50% 50%;
}

.menu-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

.menu-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    h2 {
        font-family: $shrikhand;
    }

    .heart-container {
        margin-right: 25px;
    }
}

.menu-plates {
    background-color: $cultured;
    border-radius: 2.25rem 2.25rem 0 0;
    padding: 30px 15px;
    transform: translate3d(0, -45px, 0);
}

.plates {
    h4 {
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        margin-bottom: 25px;

        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: $middle-blue-green;
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }

    a {
        display: flex;
        justify-content: space-between;
        color: $black;
        background-color: $white;
        padding: 20px;
        margin-bottom: 20px;
    }
}